<h1>Denim Headzzz</h1>
<% if session[:fullname] %>
<p>Logged in as <em><%= session[:fullname] %></em> </p>
<% else %>
<p>You must <a href='/login'>log in</a> to comment!</p>
<% end %>
<table>
  <tr>
    <td>Title</td>
    <td>Description</td>
    <td>Created At</td>
    <td>Most Recent Post</td>
  </tr>
  <% @topics.each do |topic| %>
    <tr>
      <td><a href="/topic/<%=topic.id%>"><%=topic.title %></a></td>
      <td><%= topic.description %></td>
      <td><%= topic.created_at %></td>
      <td><%= topic.updated_at %></td>

    </tr>
  <% end %>
</table>

<% if session[:fullname] %>
<div id="add_topic">
  <form action="/" method="post">
    <input type="text" name="title"></input>
    <input type="text" name="description"></input>
    <input type="submit">
  </form>
</div>
<% end %>
